@import '../../styles/mixins';

.pagination {
    margin-top: 1rem;

    .mat-button-toggle-group {
        border: 0;
        border-radius: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;

        @include large-screen {
            justify-content: end;
            margin: 0 3rem;
        }

    }

}