.modal {
    
    &__content {
        padding: 2rem;
        
    }

    &__title {
        
    }

    &__form {
        
    }

    &__field {
        width: 100%;
    }

    &__label {
        
    }

    &__input {
        
    }

    &__icon {
        
    }

    &__error {
        
    }

    &__actions {
       margin-top: 1rem;
    }

    &__button {
        margin-right: 1rem;
    }
}
