@import '../../styles/variables';

.login {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__card {
        background-color: #FFFFFF;
        
    }

    &__container {
        padding: 2rem;
    }

    &__container {
        padding: 2rem;
    }

    &__form {
        
    }

    &__title {}

    &__field {
        display: flex;
    }

    &__label {}

    &__icon {}

    &__button {
    }

    &__register-link {
        color: #ffff;
        padding-top: 1rem;

        &-text {
            color: $primary-color;
            text-decoration: underline;
            cursor: pointer;
            font-style: italic;

        }

        &-text:hover {
            color: $secondary-color
        }
    }
}