<div class="dashboard">
  <div class="dashboard__logout">
    <button mat-raised-button color="accent" (click)="logout()">
      Sair
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </div>
  <app-filters [filterForm]="filterForm" (search)="search()"></app-filters>

  <div class="dashboard__buttons-actions">
    <button mat-raised-button color="primary" (click)="search()">
      Pesquisar
      <mat-icon>search</mat-icon>
    </button>
    <button mat-raised-button color="accent" (click)="insertTask()">
      Add task
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <app-table [dataSource]="dataSource" [displayedColumns]="displayedColumns"></app-table>
  
  <app-pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"
    (pageChange)="onPageChange($event)"></app-pagination>
</div>