@import '../../styles/mixins';

.dashboard {
    &__logout {
        display: flex;
        justify-content: end;
    }

    &__buttons-actions {
        padding: 1rem 3rem;
        display: flex;
        gap: 1rem;
    }

    &__header-text {}

    &__pagination {}
}